.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}
/* soluzione */

@media screen and (max-width: 419px) {
  #lezioni .container{
    width: 100%;
  }
  .row{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
    
  }
  #lezioni .row{
    background-color: white;
  }
  img{
    margin-top: 80px;
    height: 100%;
    width: 100%;
  }
  div{
    font-size: 35px;
  }
  .row h1{
    font-size: 80px;
  }
  .row h3{
    font-size: 60px;
    margin-bottom: 10px;
  }
  .row{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
  }
  #why .row{
    background-color: white;
    
  }
  #why .row h1{
    margin-top: 150px;
    margin-bottom: 0;
  }
  #why .row div img{
    margin: 0;
    width: 40%;
  }
}